<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
 <th:block th:fragment="content">
        <div class="container">
            <div>
                <ul th:each="room : ${rooms}">
                    <li><a th:id="roomId" th:value="${room.id}" th:href="@{/chat/room(roomId=${room.id})}">[[${room.id}]]</a></li>
                </ul>
            </div>
        </div>
 </th:block>
 <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
 <script th:inline="javascript">
</script>
</html>