<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
  .field-error {
      color: red;
      border-color: red;
  }
    </style>
</head>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <div  style="max-width: 560px; justify-content : center; margin:10px auto; padding: 10px auto;">
  <form id="form" th:action th:object="${bookForm}" method="post" enctype="multipart/form-data">
      <div th:if="${#fields.hasGlobalErrors()}">
        <p class="field-error" th:each="err : ${#fields.globalErrors()}"
           th:text="${err}">전체 오류 메시지</p>
      </div>
      <div>
        <label for="isbn">ISBN</label>
        <input type="text" id="isbn" th:field="*{isbn}" class="form-control" th:errorclass="field-error">
        <div class="field-error" th:errors="*{isbn}" />
      </div>
      <div>
        <label for="price">가격</label>
        <input type="number" id="price" th:field="*{price}" class="form-control" th:errorclass="field-error">
        <div class="field-error" th:errors="*{price}" />
      </div>
      <div>
        <label>책 상태</label>
        <div th:each="type : ${BookCondition}" class="form-check form-check-inline">
          <input type="radio" th:field="*{bookCondition}" th:value="${type.name()}" class="form-check-input">
          <label th:for="${#ids.prev('bookCondition')}" th:text="${type.description}" class="form-check-label">
            BOOK
          </label>
        </div>
          <div class="field-error" th:errors="*{bookCondition}" />
      </div>
      <div>
        <label for="content">상품 상태 설명</label>
        <input type="text" id="content" th:field="*{content}" class="form-control" th:errorclass="field-error">
        <div class="field-error" th:errors="*{content}" />
      </div>
      <div>
        <label for="imageFiles">상품 이미지</label>
        <input type="file" id="imageFiles" name="imageFiles" th:field="*{imageFiles}" class="form-control" th:errorclass="field-error">
        <div class="field-error" th:errors="*{imageFiles}" />
      </div>
      <hr class="my-4">
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>

  <br/>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script th:inline="javascript">
$("#form").submit(function(e){
	if(!isValidated()) {
		e.preventDefault();
		return;
	}
});
function isValidated() {
		let currentFile = $('#imageFiles').val();

		if (!currentFile) {
			alert("파일을 선택하세요.");
			return false;
		}else{ return true;}
}
</script>
</html>