<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="/css/jumbotron-narrow.css" rel="stylesheet">
<body>
<div class="header row" th:fragment="homeBodyHeader" style="float: none;margin:10 auto;">
  <div class="col-md-3"   style="float: none;margin:0 auto;">
    <a href="/"><h3 class="text-muted">주변 문고</h3></a>
    <button id="testBtn" class="btn">문고 지역 설정</button>
    <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">문고 지역 설정</h4>
          </div>
          <form th:action="@{/items/loc}" th:object="${loc}" method="post">
            <div class="modal-body">
              <div class ="row">
                <div class="dropdown">
                  <input type="hidden" id="loc_addr1" th:field="*{addr1}" value="">
                  <button href="##" class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
                          data-toggle="dropdown" aria-expanded="false">도/특별시/광역시</button>
                  <ul id="addr1" class="dropdown-menu">
                    <li><a th:each="addr : ${T(com.ggh_dev.AroundBook.domain.member.Address).values()}"
                           th:value="${addr.name()}"
                           th:text="${addr.name()}">도/특별시/광역시</a></li>
                  </ul>
                </div>
                <select th:field="*{addr2}" style="background: #f8f9fa; border-color:white;" class="selectpicker" id="addr2">
                  <option value="1">시/군/구</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn">검색</button>
              <button class="btn" type="button" data-dismiss="modal">아니요</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <form th:object="${form}" role="form" th:action="@{/items/search}" method="Post">
      <div class="form-group">
        <div class="mx-auto input-group mt-5">
        <div class="row" style="float: none;">
          <div>
            <select style="width:30x;height:33px;" th:field="*{condition}" class="form-control" name="condition" id="condition">
                <option th:each="condition : ${SearchCondition}" th:value="${condition.name()}"
                        th:text="${condition.description}">Condition</option>
              </select>
          </div>
          <div>
            <input class="form-control" type="text"  style="width:400px" aria-describedby="button-addon2"
                   th:field="*{text}" name="text" id="text" placeholder="검색어 입력">
          </div>
          <div><button type="submit" class=" form-control btn btn-outline-secondary btn-sm" >검색</button></div>
        </div>
      </div>
      </div>
    </form>
  </div>
  <div class="mx-auto col-md-3" style="float: none;margin:20px auto; padding:10px auto">
    <ul th:if="${session.loginMember eq null}"class="nav nav-pills pull-right">
      <button type="button" class="btn btn-outline-info" th:onclick="|location.href='@{/members/new}'|">회원 등록</button>
      <button type="button" class="btn btn-outline-info" th:onclick="|location.href='@{/login}'|">로그인</button>
    </ul>
    <ul th:unless="${session.loginMember eq null}" class="nav nav-pills pull-right">
      <button type="button" class="btn btn-outline-info" th:onclick="|location.href='@{/chat/rooms}'|" method="post">채팅방</button>
      <div class="dropdown">
        <button href="#" class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-toggle="dropdown" aria-expanded="false">나의 문고</button>
        <ul class="dropdown-menu">
          <li><a th:onclick="|location.href='@{/items/new}'|">책 등록</a></li>
          <li><a th:onclick="|location.href='@{/items/members}'|">나의 책방</a></li>
          <li><a th:onclick="|location.href='@{/items/likes}'|">나의 관심 책</a></li>
          <li><a th:onclick="|location.href='@{/members}'|">회원 정보</a></li>
        </ul>
      </div>
      <button class="btn btn-outline-secondary" th:onclick="|location.href='@{/logout}'|" method="post">로그아웃</button>
    </ul>
  </div>
</div>
</body>
</html>