<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <meta charset="UTF-8">
</head>
<body>
<div th:fragment="searchCondition">
  <button id="testBtn" class="btn">문고 지역 설정</button>
  <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">문고 지역 설정</h4>
        </div>
        <form th:action="@{/items/loc}" th:object="${loc}" method="post">
          <div class="modal-body">
            <div class ="row">
              <div class="dropdown">
                <input type="hidden" id="loc_addr1" th:field="*{addr1}" value="">
                <button href="##" class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-expanded="false">도/특별시/광역시</button>
                <ul id="addr1" class="dropdown-menu">
                  <li><a th:each="addr : ${T(com.ggh_dev.AroundBook.domain.member.Address).values()}"
                         th:value="${addr.name()}"
                         th:text="${addr.name()}">도/특별시/광역시</a></li>
                </ul>
              </div>
              <select th:field="*{addr2}" style="background: #f8f9fa; border-color:white;" class="selectpicker" id="addr2">
                <option value="1">시/군/구</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn">검색</button>
            <button class="btn" type="button" data-dismiss="modal">아니요</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>